.carrousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel-container {
  width: 935px;
  display: flex;
  overflow-x: auto;
}

.carrousel-img {
  padding-left: 20px;
  width: 125px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrousel-img img {
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 50px;
  width: 87px;
}

.carrousel-img p {
  margin: 0;
  padding: 15px 0 0 0;
  color: #262626;
  font-weight: 600;
  font-size: 14.5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .carrousel-container {
    margin-top: -20px;
  }

  .carrousel-img {
    padding-left: 10px;
  }

  .carrousel-img img {
    width: 64px;
  }

  .carrousel-img p {
    padding: 8px 0 0 0;
    font-size: 12.5px;
    font-weight: 500;
  }
}
