.header {
  height: 53px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  background: #fafafa;
}

.container {
  width: 935px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-template-areas: "logoH search button";
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.logo {
  grid-area: logoH;
  padding-top: 7px;
}

.search-container {
  grid-area: search;
  display: flex;
  justify-content: center;
}

.search {
  border: 1px solid lightgray;
  /* padding: 5px 40px; */
  width: 215px;
  height: 26px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.search-icon {
  padding-right: 2.5px;
}

.search-text {
  font-size: 12px;
  color: gray;
  padding-left: 2.5px;
}

.login {
  grid-area: button;
  display: flex;
  justify-content: flex-end;
}

.login-buttonsShow1 a {
  padding: 0;
}

.login-buttonsShow1 {
  background-color: #0095f6;
  padding: 4px 7px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login-buttonsShow2 {
  text-decoration: none;
  margin-left: 5px;
  color: #0095f6;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .logo {
    padding-left: 15px;
  }

  .login {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .search-container {
    display: none;
  }
  .container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logoH button";
  }

  .logo {
    padding-left: 15px;
  }

  .login {
    padding-right: 15px;
  }
}
